<ion-view view-title="faq">
  <ion-content class="faqBody">
  <br>
  <div>
    <div class="flex">
    <h1 class="center">Frequently Asked Questions</h1>
  </div>
  <div class="container">
    <div class="ng-cloak row border">
      <div class="col-xs-12 textBox" >
        <h4 class="toFront">What do the food labels such as “organic,” "natural," "free-range," and "non-GMO" really mean? Understanding this terminology is essential when you’re shopping for organic foods.</h4>
        <br>
        <div class='darkBg'><a class='linkCursor' ng-click="toggleAnswerView6()"><span class=" glyphicon glyphicon-plus"></span> See Answer</a></div>
          <div ng-show="showAnswer6">
            <p>The most important point to remember is that "natural" does not equal organic. "Natural" or “all natural” on packaged food are unregulated terms that can be applied by anyone, whereas organic certification means that set production standards have been met. These production standards vary from country to country—in the U.S., for example, only the "USDA Organic" label indicates that a food is certified organic. Similar certification labels are also offered on organic products in other parts of the world, including the European Union, Canada, and Australia.

            When you’re shopping for organic foods in the U.S., look for the “USDA Organic” seal. Only foods that are 95 to 100 percent organic (and GMO-free) can use the USDA Organic label. </p>

            <li><strong>100% Organic</strong> – Foods that are completely organic or made with 100% organic ingredients may display the USDA seal.</li>

            <li><strong>Organic</strong> – Foods that contain at least 95% organic ingredients may display the USDA seal.</li>

            <li><strong>Made with organic ingredients</strong> – Foods that contain at least 70% organic ingredients will not display the USDA seal but may list specific organic ingredients on the front of the package.</li>

            <li><strong>Contains organic ingredients</strong> – Foods that contain less than 70% organic ingredients will not display the USDA seal but may list specific organic ingredients on the information panel of the package.</li>

            <li><strong>Natural or all natural</strong> – This label means “minimally processed” and that the meat can’t have any artificial colors, artificial flavors, preservatives, or any other artificial ingredients in it. Animals can still be given antibiotics or growth enhancers and meat can be injected with salt, water, and other ingredients. For example, this term can be applied to all raw cuts of beef since they aren’t processed. The natural label does not reflect how the animal was raised or fed, which makes it fairly meaningless.</li>

            <li><strong>Naturally raised</strong> – This claim should be followed by a specific statement, such as “naturally raised without antibiotics or growth hormones” in order to obtain USDA approval. Read different labels carefully to understand what naturally raised really means to the piece of meat you’re buying.</li>

            <li><strong>Grass-fed</strong> – This term claims that the animals are fed solely on a diet of grass or hay and have continuous access to the outdoors. Cattle are naturally ruminants that eat grass, so they tend to be healthier and leaner when fed this way. In addition, grass fed beef has been shown to have more of the healthy omega-3 fatty acids. However, if meat is labeled as grass fed but not certified organic, the animal may have been raised on pasture that was exposed to or treated with synthetic pesticides or fertilizers.</li>

            <li><strong>Free-range or free-roaming</strong> – Broadly, this term means that the animals weren’t confined to a cage and had access to the outdoors. Unfortunately, there are no requirements for the amount of time the animals spend outdoors or for the size of the outdoor space available. The terms free-range or free-roaming also don’t apply to egg-laying hens. While it’s difficult to tell exactly what free range means on meat packaging, you can contact the producer directly for clarification.</li>

            <li><strong>Cage-free</strong> – The term means that egg-laying hens are not raised in cages. However, it does not necessarily mean they have access to the outdoors. Some eggs may carry the American Humane Certified label but many cage-free claims are not certified, making it a very misleading label.</li>

            <li><strong>Pasture-raised</strong> – This claims that the animals were not raised in confinement and had year-round access to the outside. Again, there are no requirements for exactly how much time the animals spend outside or the size of the outdoor space available, so it can be misleading.</li>

            <li><strong>No hormones added or hormone-free</strong> – This term indicates that animals are raised without the use of any added growth hormones. For beef and dairy products it can be helpful, but by law in the U.S., poultry, veal calves, and pigs cannot be given hormones, so don’t pay extra for chicken, veal, or pork products that use this label.</li>

            <li><strong>Certified Humane Raised and Handled</strong> – This is a voluntary certification regulated by the Humane Farm Animal Care, a non-profit organization aimed at ensuring the humane treatment of farm animals. The label means that animals have ample space, shelter, and gentle handling to limit stress, ample fresh water, and a diet without added antibiotics or hormones. Animals must be able to roam around and root without ever being confined to cages, crates, or tie stalls.</li>
          </div>
          <a href='http://www.helpguide.org/articles/healthy-eating/organic-food-labels.htm' class="pull-right">Source: Organic Food Labels: What they Really Mean
        </div>
      </div>
    </div>
    <div class="container">
      <div class="ng-cloak row border">
        <div class="col-xs-12 textBox" >
          <h4>How is organic farming different from conventional farming?</h4>
          <br>
          <div class='darkBg'><a class='linkCursor' ng-click="toggleAnswerView()"><span class=" glyphicon glyphicon-plus"></span> See Answer</a></div>
          <p class="" ng-show="showAnswer">Organic farming refers to agricultural production systems that do not use genetically modified (GM) seed, synthetic pesticides or fertilizers. Some of the essential characteristics of organic systems include: design and implementation of an organic system plan that describes the practices used in producing crops and livestock products; a detailed recordkeeping system that tracks all products from the field to point of sale; and maintenance of buffer zones to prevent inadvertent contamination by synthetic farm chemicals from adjacent conventional fields.

          Organic farmers use biological methods and management practices such as diversified crop rotations that improve soil quality. Organic farming increases soil organic matter, which enhances the soil's ability to absorb and store carbon, cycle nutrients, and absorb water. Increased soil organic matter contributes to greater resilience under stresses such as drought and flooding.</p>
          <a href="http://www.helpguide.org/articles/healthy-eating/organic-food-labels.htm" class="pull-right">Source: Organic Food Labels: What they Really Mean
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="ng-cloak row border">
        <div class="col-xs-12 textBox" >
          <h4>What does certified organic mean and how is certification regulated?</h4>
          <br>
          <div class='darkBg'><a class='linkCursor' ng-click="toggleAnswerView1()"><span class=" glyphicon glyphicon-plus"></span> See Answer</a></div>
          <p class="" ng-show="showAnswer1">Certified organic refers to agricultural products that have been grown and processed according to uniform standards that have been verified by USDA. The National Organic Program (NOP) develops the rules and regulations for the production, handling, labeling, and enforcement of all USDA organic products. This process, referred to as rulemaking, involves input from the National Organic Standards Board (a Federal Advisory Committee made up of fifteen members of the public) and the public.

          To gain organic certification, a farmer (of cropland, pasture or livestock) submits an organic system plan to an accredited certifier each year. This documents how the farmer adheres to NOP standards. Certified organic farms and processing facilities undergo annual inspections to verify that they are meeting the standards. Organic inspectors examine all elements of a farm operation for adherence to the standards and verfiy that the farm is being managed according to the farmer's organic system plan.</p>
          <a href='http://www.helpguide.org/articles/healthy-eating/organic-food-labels.htm' class="pull-right">Source: Organic Food Labels: What they Really Mean
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="ng-cloak row border">
        <div class="col-xs-12 textBox" >
          <h4>Can GMOs be used in organic products?</h4>
          <br>
          <div class='darkBg'><a class='linkCursor' ng-click="toggleAnswerView2()"><span class=" glyphicon glyphicon-plus"></span> See Answer</a></div>
          <p class="" ng-show="showAnswer2">The use of genetic engineering, or genetically modified organisms (GMOs) is prohibited in organic products. This means an organic farmer can’t plant GMO seeds, an organic cow can’t eat GMO alfalfa or corn, and an organic soup producer can’t use any GMO ingredients. To meet the USDA organic regulations, farmers and processors must show they aren’t using GMOs and that they are protecting their products from contact with prohibited substances from farm to table.</p>
          <a href='http://www.helpguide.org/articles/healthy-eating/organic-food-labels.htm' class="pull-right">Source: Organic Food Labels: What they Really Mean
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="ng-cloak row border">
        <div class="col-xs-12 textBox" >
          <h4>How does organic farming help the environment?</h4>
          <br>
          <div class='darkBg'><a class='linkCursor' ng-click="toggleAnswerView3()"><span class=" glyphicon glyphicon-plus"></span> See Answer</a></div>
          <p class="" ng-show="showAnswer3">A high percentage of organic farms use production practices with environmental benefits such as water management practices, no-till or minimum tillage, habitat maintenance for beneficial insects and vertebrates, and biological pest control. These ecologically protective practices contribute to enhanced ecosystem services and benefit water quality, soil health, and biodiversity.

          Conventional GM farming often uses minimal crop rotations, growing the same single crop year after year on the same land. This practice, known as mono cropping causes the depletion of nutrients and minerals. In order to continue growing crops in this depleted soil, nutrients and minerals must be added back in the form of hydrocarbon based fertilizers and mined minerals such as phosphate. Conventional GM farming is dependent on earth-based non-renewable resources. Monocultures and the resulting poor health open the way for infestations of insects, diseases and weeds. Healthy bio-diverse soil keeps these infestations in check. The lack of biodiversity requires synthetic pesticides and herbicides to be used, further destroying the national soil biology</p>
          <a href='http://www.helpguide.org/articles/healthy-eating/organic-food-labels.htm' class="pull-right">Source: Organic Food Labels: What they Really Mean
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="ng-cloak row border">
        <div class="col-xs-12 textBox" >
          <h4> How does organic farming improve soil and water quality?</h4>
          <br>
          <div class='darkBg'><a class='linkCursor' ng-click="toggleAnswerView4()"><span class=" glyphicon glyphicon-plus"></span> See Answer</a></div>
          <p class="" ng-show="showAnswer4">Using biological forms of fertilizer such as compost, animal manures, and legume cover crops, builds soil organic matter, even when routine tillage is used for weed control. Building soil organic matter increases soil water retention and nurtures more active soil microbial communities that retain nitrogen in the soil longer and transform it into non-leachable gaseous forms. There is a small but telling body of research in the US that suggests that improved soil quality influences the ability of crops to withstand or repel insect attack and plant disease.

          Organic biological fertilizer sources release their nutrients slowly over time, providing more opportunity for the nitrogen to be digested by soil organisms and taken up by crops before leaching below the root zone. Increased soil organic matter in the soil leads to tighter nutrient cycling and greater water holding capability in organically managed soils, with the result that nitrate leaching from groundwater is about half that of conventionally farmed soils. Recent data from a 12-year study shows that fields under organic management had half the annual nitrate leaching losses than fields under conventional management.

          </p>
          <a href='http://www.helpguide.org/articles/healthy-eating/organic-food-labels.htm' class="pull-right">Source: Organic Food Labels: What they Really Mean
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="ng-cloak row border">
        <div class="col-xs-12 textBox" >
          <h4>Has the demand for organic products grown?</h4>
          <br>
          <div class='darkBg'><a class='linkCursor' ng-click="toggleAnswerView5()"><span class=" glyphicon glyphicon-plus"></span> See Answer</a></div>
          <p class="" ng-show="showAnswer5">The organic sector grew from $3.2 billion in 2008 to $5.5 billion in 2014, demonstrating that there is increased demand for organic products and opportunities for growth.

          The five most valuable organic products identified in order of highest sales were milk, eggs, broiler chickens, lettuce, and apples. The vegetable and fruit sectors have increased in their importance to the organic sector as a whole, making up 42% of organic sales in 2014.</p>
          <a href='http://www.helpguide.org/articles/healthy-eating/organic-food-labels.htm' class="pull-right">Source: Organic Food Labels: What they Really Mean
          </p>
        </div>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
