/*body {
  height: 100%;
  width: 100%;
}*/
.navbar {
  margin: 0 !important;
}
.faqBody{
  background-image: url('/farm_wallpaper.jpg') !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#landing{
  /*max-height: 95vh;*/
  background-color: black;
  overflow-y: hidden !important;
}
.textBox{
  background-color: #ffffff;
  border: 1px solid black;
  color: white;
  text-shadow: .5px .5px .5px .5px;
  background: rgba(0, 0, 0, 0.9);
}
.overlay {
  z-index: 100;
}
.textBox > a{
  color: white !important;
}
.darkBg{
  background: rgba(0, 0, 0, 0.95);
  width: 100px;
}
.center{
  justify-content: center;
}
video {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  overflow-y: hidden;
  overflow-x: hidden;
}
video#videobg{
  z-index: -100;
}
video#videobg .overlay {
position: fixed;
/*top: 50%;
left: 50%;*/
min-width: 100vw;
min-height: 100vw;
/*width: auto;
height: auto;*/
transform: translateX(-50%) translateY(-50%);
background: url('images/poster.jpg') no-repeat;
background-size: cover;
transition: 1s opacity;
}
.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.centerDiv {
  display: flex;
  justify-content: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}
.videoContainer .overlay .subtext #farmshareText{
    /*width:100%;*/
    text-align:center;
}
#farmshareText {
  position: fixed;
  left: auto;
  right: auto;
  top: 25%;
  font-family: 'Roboto', sans-serif;
  font-size: 100% !important;
  font-weight: 100;
  padding: 10px;
  color: #ffffff !important;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  border-radius: 15px;
  text-align: center;
}
.mainText {
  font-size: 2em;
  color: #ffffff !important;
}
.subText{
  /*top: 31%;*/
  padding: 5px;
  color: white !important;
  z-index: 100;
  font-size: 1.5em !important;
}
.bottomPlacement {
  position: fixed;
  bottom: 0;
}
.floatRight, .floatLeft {
  text-decoration: none !important;
  background: rgba(0,0,0,0.5);
  padding: 20px;
  font-size: 140% !important;
  font-weight: bold;
  /*margin-top: 30% !important;*/
}
/*.bottomButtons {
  display: flex;
  justify-content: space-between;
  /*margin-top: 20% !important;*/

.floatLeft {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.floatRight{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
.floatRight > a, .floatLeft > a {
  color: white !important;
}
.stopfade {
   opacity: .5;
}
.mainJumboText {
  font-size: 3em ;
  letter-spacing: .2rem;
  color: #fff !important;
}
.jumboText {
  color: #fff !important;
  font-size: 1em ;
}
a.linkcursor{
  cursor: pointer !important;
}

.scroll {
  height: 100% !important;
}

/*END OF VIDEO STyLING*/
.flex{
  display: flex;
  justify-content: space-around;
}
.split{
  justify-content: space-between !important;
}
.padding5px{
  padding: 5px !important;
}
.transparent{
  background: rgba(0,0,0,0.5);
}
.loginButton {
  color: #333 !important;
  background-color: transparent !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-right: 15px !important;
  position: relative !important;
  display: block !important;
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: transparent !important;
  vertical-align: baseline !important;
  padding: 10px 15px;
  width: 170px !important;
  text-decoration: none !important;
}
a#login-sign-in-link.login-link-text {
  color: #777 !important;
  text-decoration: none !important;
}
a#login-sign-in-link.login-link-text:hover {
  color: #333 !important;
  text-decoration: none !important;
}
#login-dropdown-list {
    position: absolute;
    left: -150px !important;
}
.dropContainer{
  width: 25% !important;
  border: black solid 1px;
}
.dropdownClass{
  padding: 4px;
}
.farmSnapshot{
  width: 65%;
  border: black solid 1px;
  margin-right: 20px;

}
.tabs {
  display: none;
}

/*RAD CSS*/
.mainContain{
  padding: 2vw;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.formContain{
  padding: 2vw;
  width: 50vw;
  display:flex;
  justify-content: center;
  flex-direction: column;
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
  margin-left: 25%;
  margin-top: 1%;
  background-color: rgba(214, 214, 214, .6)
}

.marginTop{
  margin-top: 1vw;
}

.marginBottom{
  margin-bottom: 1vw;
}

.marginLR{
  margin-right: 2vw;
  margin-left: 2vw;
}

.marginLR > input{
  margin-left: 1vw;
  margin-bottom: .5vw;
  padding: .25vw;
  padding-left: .5vw;
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
}
.marginBottom{
  margin-bottom: 5px !important;
}
.marginLR > textarea{
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
  margin-left: 1vw;
  margin-bottom: .5vw;
}
.backgroundResults, .pane {
  overflow: scroll !important;
}
.align{
  display: flex;
  flex-direction: row;
}

.spaceAround{
  display: flex;
  justify-content: space-between;
}

.center{
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: transparent;
}
.center3{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}
.center2{
  text-align: center;
}

.userImage{
  height: 20vw;
  width: 20vw;
  max-height: 20vw;
  max-width: 20vw;
  background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjfAAAAJDY5MjRlMDhmLWFhMWItNDdlOS1iNTE1LTA4YWQ4Y2ZlYzZiNA.jpg');
  background-position: center;
}
.backgroundResults{
  background-image: url('/farm_wallpaper.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.formButton {
  height: 3vw;
  width: 16vw;
  border-radius: 2em;
}

.products{
  width: 40vw;
}
.cardBack{
  background-color: #EEEEEE !important;
}
.navbar {
  margin: 0 !important;

}
@media only screen and (max-width: 5000px) {
  video {
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 2000px) {
  video {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 1600px) {
  video {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 1290px) {
  video {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 1100px) {
  video {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 921px) {
  .subText {
    font-size: 1.2em !important;
  }
}
@media only screen and (max-width: 800px) {
  video {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .subText {
    font-size: 1.2em !important;
  }
}

@media only screen and (max-width: 415px) {
  video {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
  .subText {
    font-size: 1em !important;
  }

}

.btn btn-default  {
  margin: auto;
}

/*.scroll{
  background-image: url('/farm_wallpaper.jpg') !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}*/
